body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center
}

header {
    background: #007bff;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #0056b3;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    transition: background 0.3s;
}

nav a:hover {
    background: #555;
}

.container {
    padding: 2em;
    align-items: center;
}

#bigheader {
    color: white;
}

button {
    background: #007bff;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
